html{
    background-image: url("fondo2.jpg");
    background-size: cover;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    border: 15px black solid;
}
.partearriba{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.imagen{
    background-color: rgba(26, 0, 35, 0.6);
    width: 130px;
    height: auto;
    padding: 2%;
    text-align: center;
}
.titulazo{
    background-color: rgba(26, 0, 35, 0.6);
    width: 62%;
    height: 135px;
    padding: 2%;
    text-align: center; 
}
.plataformas{
    background-color: rgba(26, 0, 35, 0.6);
    height: 183px;
    width: 200px;
    text-align: center;
 
}
.nat{
    width: 100px;
    height: auto;
}
.elnav{
    background-color: rgba(26, 0, 35, 0.6); 
    width: 100%;
    height: 25px;
    padding: 2px;
    text-align: center; 
}
a:hover{
    background-color: rgb(0, 0, 0);
    font-size: 18px;
}
iframe{
    border: none;
    box-shadow: none;
    width: 100%;
    height: 600px;
}
.piedepagina{
    background-color: rgba(26, 0, 35, 0.6);
    width: 96%;
    height: 50px;
    padding: 2%;
    text-align: center; 
}
img:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgb(0, 0, 0); 
}
