html{
    background-image: url(fondo2.jpg);
    background-size: cover;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.vidios{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.vidios2{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.vidios3{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
video{
    width: 500px;
    height: auto;
    border: 10px rgba(0, 0, 0, 0.447) solid;
}
.titulazo4{
    background-color: rgba(0, 0, 0, 0.603);
    width: 96%;
    height: 80px;
    padding: 2%;
    text-align: center;
}
video:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgb(0, 0, 0); 
}